
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
            <div class="logo"><img src="http://icons.iconarchive.com/icons/alecive/flatwoken/512/Apps-Weather-icon.png"><h1>Weather App</h1></div>
            <div class="middle">
              <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
              <hr class="linehr">
              <input type="submit" class="ghost-button" value="Get Weather">
            </div>
        </form>
        <div class="grid-container">
        <% if(weather !== null){ %>
          <div class="temp" id="info1"><p><%= weather %></p></div>
          <div class="pres" id="info2"><p><%= weatherPres %><img class="pIcon" src="/img/presIcon.png"></p></div>
          <div class="hum" id="info3"><p><%= weatherHum %></p></div>
          <div class="speed" id="info4"><p><%= weatherSpeed %><img class="wIcon" src="/img/windIcon.png"></p></div>
          <div class="dir" id="info5"><p><%= weatherDir %></p></div>

          <!---<p style="transform: rotate(<%= compArrow %>deg);"<img src=""></p>-->
          <div class="arrow" id="info6">
            <img src="<%=icon%>">
            <img src="/img/compass.png" height="200px" width="200px">
          </div>

        <% } %>
        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>

      </fieldset>
    </div>
    <!---<div class="parent" id="info6">
      <img src="/img/compass.png" height="400px" width="400px">
      <img src="/img/comparrow.png" class="over-img" id="arrow">
      
    </div>-->
  </div>


  </body>
</html>

